f e.errorTable tr.odd {
background-color: #fdedec;
}

.errorTable tr.tableRowEven,.errorTable tr.even {
background-color: #FFFFFF;
}

.error_message {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#FF0000;
}

#reportRow {
margin-bottom:12px;
}

.errorTable .head_name
{
font-family:Verdana, Arial, Helvetica, sans-serif;
padding: 2px;
font-size:12px;
font-weight:bold;
background-color:#ff0000;
color:#FFFFFF;
}

.errorTable td {
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:2px;
font-size:12px;

} 

.dataTable {  text-align: left; table-layout:fixed; width:800px; }
.cmsPreviewTable {  text-align: left; width:800px; }
.head_action {  width: 55px; padding-left: 5px; overflow:hidden; }
.head_status {  width: 70px; padding-left: 5px; overflow:hidden; }
.head_mailing {  width: 160px; padding-left: 5px;overflow:hidden;  }
.head_mailing_overview {  width: 140px; padding-left: 5px;overflow:hidden;  }
.head_mailing_wide {  width: 250px; padding-left: 5px;overflow:hidden;  }
.head_description {  width: 160px; padding-left: 5px;overflow:hidden;}
.head_description_overview {  width: 140px; padding-left: 5px;overflow:hidden;}
.head_description_wide {  width: 230px; padding-left: 5px;overflow:hidden;}
.head_description_no_width { padding-left: 5px;overflow:hidden;}
.head_error {  width: 160px; padding-left: 5px;}
.head_mailinglist {  width: 160px; padding-left: 5px; overflow:hidden; }
.head_mailinglist_overview {  width: 140px; padding-left: 5px; overflow:hidden; }
.head_name {  width: 160px; padding-left: 5px; overflow:hidden; }
.head_email {  width: 450px; padding-left: 5px; overflow:hidden; }
.head_senddate { width: 320px; padding-left: 5px;overflow:hidden; }
.head_edit {  width: 50px; padding-left: 5px;overflow:hidden; }
.head_edit_align_right {  width: 83px; overflow:hidden; }
.head_edit_1icon {  padding-left: 5px;overflow:hidden; }
.head_count { width: 60px; padding-left: 5px; overflow:hidden; }
.head_mailing_wide {  width: 240px; padding-left: 5px;overflow:hidden;  }
.head_mailing_param {  width: 245px; padding-left: 5px;overflow:hidden;  }

.t_head_zg {  width: 300px; padding-left: 5px; overflow:hidden; }
.t_head_desc {  width: 450px; padding-left: 5px; overflow:hidden; }
.t_head_edit {  width: 50px; padding-left: 5px; overflow:hidden; }

.targets_head_id {width: 45px; padding-left: 5px; overflow:hidden;}
.targets_head_name {  width: 220px; padding-left: 5px; overflow:hidden; }
.targets_head_desc {  width: 235px; padding-left: 5px; overflow:hidden; }

.forms_head_name {  width: 300px; padding-left: 5px; overflow:hidden; }
.forms_head_desc {  width: 450px; padding-left: 5px; overflow:hidden; }

.forms_head_formlogin {  width: 130px; padding-left: 5px; overflow:hidden; }
.forms_head_formname {  width: 90px; padding-left: 5px; overflow:hidden; }
.forms_head_formdesc {  width: 130px; padding-left: 5px; overflow:hidden; }
.forms_head_formurl {  width: 220px; padding-left: 5px; overflow:hidden; }
.forms_head_formdate {  width: 100px; padding-left: 5px; overflow:hidden; }
.forms_head_button2 {  width: 40px; padding-left: 5px; overflow:hidden; }

.campaign_head_name {  width: 300px; padding-left: 5px; overflow:hidden; }
.campaign_head_desc {  width: 450px; padding-left: 5px; overflow:hidden; }

.mailloop_head_name {  width: 125px; padding-left: 5px; overflow:hidden; }
.mailloop_head_desc {  width: 300px; padding-left: 5px; overflow:hidden; }
.mailloop_head_address {  width: 300px; padding-left: 5px; overflow:hidden; }

.admin_head_name {  width: 200px; padding-left: 5px; overflow:hidden; }
.admin_head_desc {  width: 400px; padding-left: 5px; overflow:hidden; }
.admin_head_filter { width: 200px; padding-left: 5px; overflow:hidden; }
.admin_head_desc_narrow {  width: 340px; padding-left: 5px; overflow:hidden; }
.admin_head_client {  width: 250px; padding-left: 5px; overflow:hidden; }

.mailcomp_head_name {  width: 250px; padding-left: 5px; overflow:hidden; }
.mailcomp_head_desc {  width: 270px; padding-left: 5px; overflow:hidden; }
.mailcomp_head_senddate {  width: 138px; padding-left: 5px; overflow:hidden; }

.mailinglist_head_name {  width: 300px; padding-left: 5px; overflow:hidden; }
.mailinglist_head_desc {  width: 350px; padding-left: 5px; overflow:hidden; }
.mailinglist_head_id {  width: 100px; padding-left: 5px; overflow:hidden; }

.mailingstat_head_name {  width: 240px; padding-left: 5px; overflow:hidden; }
.mailingstat_head_desc {  width: 330px; padding-left: 5px; overflow:hidden; }
.mailingstat_head_list {  width: 240px; padding-left: 5px; overflow:hidden; }

.template_head_name {  width: 220px; padding-left: 5px; overflow:hidden; }
.template_head_desc {  width: 310px; padding-left: 5px; overflow:hidden; }
.template_head_mailinglist {  width: 220px; padding-left: 5px; overflow:hidden; }

.action_head_name {  width: 260px; padding-left: 5px; overflow:hidden; }
.action_head_desc {  width: 310px; padding-left: 5px; overflow:hidden; }
.action_head_used {  width: 180px; padding-left: 5px; overflow:hidden; }

.campaign_edit_head_mailing {  width: 200px; padding-left: 5px; overflow:hidden; }
.campaign_edit_head_desc {  width: 250px; padding-left: 5px; overflow:hidden; }
.campaign_edit_head_mailinglist {  width: 160px; padding-left: 5px; overflow:hidden; }
.campaign_edit_head_senddate {  width: 160px; padding-left: 5px; overflow:hidden; }

.campaign_edit_mailing {  width: 200px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.campaign_edit_desc {  width: 250px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.campaign_edit_mailinglist {  width: 160px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.campaign_edit_senddate {  width: 160px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.action_name {  width: 260px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.action_desc {  width: 310px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.action_used {  width: 180px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.campaign_stat_mailing { overflow:hidden; }

.dashboard_mailing_head_status {  width: 108px; padding-left: 5px; overflow:hidden; }
.dashboard_mailing_head_name {  width: 230px; padding-left: 5px; overflow:hidden; }
.dashboard_mailing_head_list {  width: 225px; padding-left: 5px; overflow:hidden; }
.dashboard_mailing_head_send {  width: 135px; padding-left: 5px; overflow:hidden; }

.profile_fields_name_head { width: 130px; padding-left: 5px; overflow:hidden; }
.profile_fields_dbname_head { width: 130px; padding-left: 5px; overflow:hidden; }
.profile_fields_length_head { width: 90px; padding-left: 5px; overflow:hidden; }
.profile_fields_defvalue_head { width: 130px; padding-left: 5px; overflow:hidden; }
.profile_fields_type_head { width: 90px; padding-left: 5px; overflow:hidden; }
.profile_fields_visibility_head {width: 90px; padding-left: 5px; overflow:hidden; }
.profile_fields_sort_head { width: 90px;padding-left: 5px; overflow:hidden; }

.profile_fields_name { width: 130px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_dbname { width: 155px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_length { width: 100px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_defvalue { width: 130px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_type { width: 100px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_visibility {width: 90px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_sort { width: 90px;padding-left: 5px; overflow:hidden; white-space: nowrap;}
.profile_fields_null_allowed { width: 155px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.recipient_title { width: 160px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.recipient_firstname { width: 190px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.recipient_lastname { width: 190px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.recipient_email { width: 230px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.cm_assign_mailing_id {  width: 150px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.cm_assign_mailing_name {  width: 550px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.cm_assign_mailing_id_head {  width: 150px; padding-left: 5px; overflow:hidden; }
.cm_assign_mailing_name_head {  width: 550px; padding-left: 5px; overflow:hidden; }

.cm_assign_checkbox {  width: 100px; padding-left: 5px; overflow:hidden; }

.recipient_title_head { width: 160px; padding-left: 5px; overflow:hidden; }
.recipient_firstname_head { width: 190px; padding-left: 5px; overflow:hidden; }
.recipient_lastname_head { width: 190px; padding-left: 5px; overflow:hidden; }
.recipient_email_head { width: 230px; padding-left: 5px; overflow:hidden; }

.form_link_url_head { width: 180px; padding-left: 5px; overflow:hidden; }
.form_link_url_text { width: 210px;}
.form_link_description_head { width: 150px; padding-left: 5px; overflow:hidden; }
.form_link_description_text { width: 175px; }
.form_link_add_head { width: 40px; padding-left: 5px; overflow:hidden; }
.form_link_trackable_head { width: 150px; padding-left: 5px; overflow:hidden; }
.form_link_relevance_head { width: 170px; padding-left: 5px; overflow:hidden; }
.form_link_extend_head { width: 120px; padding-left: 5px; overflow:hidden; }

.salutation_name_head { width: 670px; padding-left: 5px; overflow:hidden; }
.salutation_id_head { width: 50px; padding-left: 5px; overflow:hidden; }

.importprofile_head_name { width: 650px; padding-left: 5px; overflow:hidden; }
.importprofile_head_default { width: 100px; padding-left: 5px; overflow:hidden; }
.import_errors_head_name { width: 100px; padding-left: 5px; overflow:hidden; }

.contentsource_head_name { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.contentsource_head_description { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.tarckpoint_head_name { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.tarckpoint_head_description { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.exportwizard_head_name { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.exportwizard_head_description { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.blacklist_head_name { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.blacklist_head_description { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.comparasion_select_name { width: 310px; padding-left: 5px; overflow:hidden; }
.comparasion_select_desc { width: 368px; padding-left: 5px; overflow:hidden; }
.comparasion_select_comp { padding-right: 5px; overflow:hidden; text-align: right; }

.comparasion_view_mailing { width: 200px; padding-left: 5px; overflow:hidden; }
.comparasion_view_recipients { width: 90px; padding-left: 5px; overflow:hidden; }
.comparasion_view_clicks { width: 90px; padding-left: 5px; overflow:hidden; }
.comparasion_view_opened { width: 90px; padding-left: 5px; overflow:hidden; }
.comparasion_view_bounces { width: 90px; padding-left: 5px; overflow:hidden; }
.comparasion_view_outs { width: 90px; padding-left: 5px; overflow:hidden; }
.comparasion_view_revenue { width: 90px; padding-left: 5px; overflow:hidden; }

.action {  width: 15px; padding-left: 5px; overflow:hidden; white-space: nowrap;  }
.status {  width: 60px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.mailing_id { width: 15px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.mailing {  width: 160px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.mailing {  width: 250px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.description {  width: 160px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.description_wide {  width: 175px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.error {  width: 160px; padding-left: 5px; white-space: nowrap; }
.mailinglist {  width: 140px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.name {  width: 140px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.firstname {  width: 90px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.email {  width: 140px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.senddate {  width: 100px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.scheduledtime {  width: 100px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.edit { width: 50px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.edit_1icon { width: 30px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.edit_3icons { padding-left: 5px; overflow:hidden; white-space: nowrap; }
.cmt_edit { width: 70px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.count { width: 60px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.button2 {  width: 40px; padding-left: 5px; overflow:hidden; }

.trackable_link_column { width: 80px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_column_short { width: 59px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_column_wide { width: 174px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_url { width: 175px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_url_long { width: 275px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_admin_link { width: 80px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.trackable_link_description_head { width: 200px; padding-left: 5px; overflow:hidden; }
.trackable_link_description { width: 100px; padding-left: 5px; overflow:hidden; }

.unlock_id_head_name { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.unlock_id_head_ip { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.mailing_action_head_action { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.mailing_action_head_url { width: 400px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.mailing_content_module { width: 110px; padding-left: 5px; overflow:hidden; }
.mailing_content_target_group { width: 110px; padding-left: 5px; overflow:hidden; }
.mailing_content_content { width: 130px; padding-left: 5px; overflow:hidden; }

.mailing_stat_mailing { width: 270px; padding-left: 5px; overflow:hidden; white-space: nowrap;}
.mailing_stat_desc { width: 290px; padding-left: 5px; overflow:hidden; white-space: nowrap;}

.pid_head_name {  width: 200px; padding-left: 5px; overflow:hidden; }
.pid_head_tag {  width: 220px; padding-left: 5px; overflow:hidden; }
.pid_head_desc {  width: 350px; padding-left: 5px; overflow:hidden; }

.pid_edit {  width: 85px; padding-left: 5px; overflow:hidden; }

.parameter_name_head { width: 230px; padding-left: 5px; overflow:hidden; }
.parameter_description_head { width: 270px; padding-left: 5px; overflow:hidden; }
.parameter_for_mailing_head { width: 140px; padding-left: 5px; overflow:hidden; }
.parameter_change_date_head { width: 140px; padding-left: 5px; overflow:hidden; }

.form_link_column {
    padding-left: 5px; overflow:hidden; white-space: nowrap;
}

.form_link_header {
    width: 105px; padding-left: 5px; overflow:hidden; white-space: nowrap;
}

.upload_column_header {
    width: 124px; padding-left: 5px; overflow:hidden; white-space: nowrap;
}

.ie7hack { overflow:hidden; white-space:nowrap;  }

iframe { border:0px; frameborder:no; }

thead tr {
background-color:#D9E6F3;
}

th {
	font-weight: bold;
	font-size: 12px;	
}

th.sorted {
background-color:#D9E6F3;

}
th.sorted a, th.sortable a {
background-position:right center;
display:inline;
width:100%;
font-weight:bold;
padding-right: 10px;
}
th.sortable a {
background-image:url(../images/table_sort_icon.png);
background-position: right;
background-repeat: no-repeat;
font-weight:bold;
padding-right: 15px;
width: auto;
}
th.order1 a {
background-image:url(../images/sort_down.png);
background-position: right;
background-repeat: no-repeat;
font-weight:bold;
padding-right: 12px;
}
th.order2 a {
background-image:url(../images/sort_up.png);
background-position: right;
background-repeat: no-repeat;
font-weight:bold;
padding-right: 12px;
}
tr.odd {
background-color:#FFFFFF;
}
tr.tableRowEven, tr.even {
	background-color: #D2D7D2;

}

.targets_head_bulk {  width: 30px; padding-left: 5px; overflow:hidden; }
.trackpoint_head_name {  width: 350px; padding-left: 5px; overflow:hidden; }
.trackpoint_head_description {  width: 450px; padding-left: 5px; overflow:hidden; }

.grid_template_name {  width: 330px; padding-left: 5px; overflow:hidden; }
.grid_child_template_name {  width: 330px; padding-left: 5px; overflow:hidden; }
.grid_template_date {  width: 140px; padding-left: 5px; overflow:hidden; }

.grid_name {  width: 180px; padding-left: 5px; overflow:hidden; }
.grid_column_number {  width: 150px; padding-left: 5px; overflow:hidden; }
.grid_column_width {  width: 150px; padding-left: 5px; overflow:hidden; }
.grid_gutter {  width: 150px; padding-left: 5px; overflow:hidden; }
.grid_template_width {  width: 150px; padding-left: 5px; overflow:hidden; }

.grid_template_grid_edit {  width: 85px; padding-left: 5px; overflow:hidden; }

.grid_mediapool_image_title {  width: 170px; padding-left: 5px; overflow:hidden; }
.grid_mediapool_image_image {  width: 270px; padding-left: 5px; overflow:hidden; text-align: center; }
.grid_mediapool_image_sizes { width: 130px; padding-left: 5px; overflow:hidden; text-align: center;}
.grid_mediapool_image_keywords {  width: 170px; padding-left: 5px; overflow:hidden; }

.grid_div_child_list_content {  width: 350px; padding-left: 5px; overflow:hidden; }
.grid_div_child_list_keywords {  width: 230px; padding-left: 5px; overflow:hidden; }

.grid_mediapool_post_title {  width: 400px; padding-left: 5px; overflow:hidden; }
.grid_mediapool_post_keywords {  width: 350px; padding-left: 5px; overflow:hidden; }
.grid_mediapool_post_edit { width: 50px; padding-left: 5px; overflow:hidden; white-space: nowrap; }

.grid_bg_image_title { width: 275px; padding-left: 5px; overflow:hidden;}

.div_container_name {width: 185px; padding-left: 5px; overflow: hidden;}
.div_container_body {width: 540px; padding-left: 5px; overflow: hidden; text-align: center !important;}
.div_container_is_hidden {width: 80px; padding-left: 5px; overflow: hidden; text-align: center;}

.mediapool_category_name {width: 185px; padding-left: 5px; overflow: hidden;}
.mediapool_category_description {width: 426px; padding-left: 5px; overflow: hidden;}
.mediapool_category_hidden {width: 80px; padding-left: 5px; overflow: hidden; text-align: center;}
.mediapool_category_inFloatingBar {width: 104px; padding-left: 5px; overflow: hidden; text-align: center;}

.head_plan_date {  width: 140px; padding-left: 5px; overflow:hidden; }
.plan_date {  width: 140px; padding-left: 5px; overflow:hidden; white-space: nowrap; }

.plugin_id_header { width: 120px; padding-left: 5px; overflow:hidden; }
.plugin_name_header { width: 120px; padding-left: 5px; overflow:hidden; }
.plugin_description_header { width: 150px; padding-left: 5px; overflow:hidden; }
.plugin_version_header { width: 120px; padding-left: 5px; overflow:hidden; }
.plugin_vendor_header { width: 120px; padding-left: 5px; overflow:hidden; }
.plugin_activated_header { width: 120px; padding-left: 5px; overflow:hidden; }

.plugin_id { width: 120px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.plugin_name { width: 120px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.plugin_description { width: 150px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.plugin_version { width: 120px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.plugin_vendor { width: 120px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.plugin_activated { width: 120px; padding-left: 5px; overflow:hidden; white-space: nowrap; }

.autoimport_name_header { width: 180px; padding-left: 5px; overflow:hidden; }
.autoimport_description_header { width: 200px; padding-left: 5px; overflow:hidden; }
.autoimport_active_status_header { width: 160px; padding-left: 5px; overflow:hidden; }
.autoimport_file_server_header { width: 220px; padding-left: 5px; overflow:hidden; }

.autoimport_name { width: 180px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.autoimport_description { width: 200px; padding-left: 5px; overflow:hidden; }
.autoimport_active_status { width: 160px; padding-left: 5px; overflow:hidden; }
.autoimport_file_server { width: 220px; padding-left: 5px; overflow:hidden; }

.workflow_status_header { width: 100px; padding-left: 5px; overflow:hidden; }
.workflow_name_header { width: 220px; padding-left: 5px; overflow:hidden; }
.workflow_description_header { width: 205px; padding-left: 5px; overflow:hidden; }
.workflow_start_header { width: 65px; padding-left: 5px; overflow:hidden; }
.workflow_end_header { width: 65px; padding-left: 5px; overflow:hidden; }
.workflow_reaction_header { width: 75px; padding-left: 5px; overflow:hidden; }

.workflow_status { width: 100px; padding-left: 5px; overflow:hidden; white-space: nowrap; }
.workflow_name { width: 220px; padding-left: 5px; overflow:hidden; }
.workflow_description { width: 205px; padding-left: 5px; overflow:hidden; }
.workflow_start { width: 65px; padding-left: 5px; overflow:hidden; }
.workflow_end { width: 65px; padding-left: 5px; overflow:hidden; }
.workflow_reaction { width: 75px; padding-left: 5px; overflow:hidden; }